<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165972035095-95uontbc9ninivitv9v3in93ivoa44sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165972035095-95uontbc9ninivitv9v3in93ivoa44sr</string>
	<key>API_KEY</key>
	<string>AIzaSyD1lr39msaOeJEJc5SQwRuVnSe6JmqNbUY</string>
	<key>GCM_SENDER_ID</key>
	<string>165972035095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iTravelWorld.racecoursesTracks</string>
	<key>PROJECT_ID</key>
	<string>racecourses-tracks-development</string>
	<key>STORAGE_BUCKET</key>
	<string>racecourses-tracks-development.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165972035095:ios:26a1e839753377bf23be52</string>
</dict>
</plist>